:root{
    --primary-text-color:#212121;
    --second-text-color: #757575;
    --accent-color:#2196F3;
    --bg-color-white:#FFFFFF;
    --bg-color-black:#2F303A;
    --black:#000000;

    
}
.list{
    list-style: none;
}

/* logo */
.logo-primary{
    color: var(--accent-color)
}
.logo-secondary{
    color:var(--black)
}
.footer .logo-primary{
    color: var(--accent-color)
}
.footer .logo-secondary{
    color: var(--bg-color-white);
}

/* Header */
.header{
    background-color: var(--bg-color)
}
/* site-nav */
.site-nav .link{
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color)
}
.site-nav .link.active{
    color: var(--accent-color);

     
}
/* auch-nav */
.auch-nav .link{
color: var(--primary-text-color);
}
.auch-nav .link:hover,
.auch-nav .link:focus{
    color: var(--accent-color);
}
/* Button */
.button{
color: var(--bg-color-white);
background-color: var(--accent-color);
}
.button-list .title{
 background-color: var(--bg-color-white);
 color: var(--primary-text-color);
}
.button-list .title:hover,
.button-list .title:focus{
    background-color: var(--accent-color);
    color: var(--bg-color-white);
}
/* Hero */
.hero{
    background-color:var(--bg-color-black);
    
}
.hero .hero-title{
    color: var(--bg-color-white);
}
/* advantage */
.advantage-link .title{
    color: var(--primary-text-color);
}
.advantage-link .paragraph{
    color: var(--second-text-color);
}
/* Work */
/* Team */

.employee-link .title{
    color: var(--primary-text-color)
}
.employee-link .paragraph{
    color: var(--second-text-color);
}
.section-title .title{
color: var(--primary-text-color);    
}
/* Footer */
.footer{
    background-color:var(--bg-color-black);
}
.address{
    color: var(--bg-color-white);
}
.address-link{
    color:rgba(255, 255, 255, 0.6);
}